<!DOCTYPE html>
<html>
  <head>
    <title>SafeWater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5WDMwLCSVBCkGq3Bj7fCOjEsDuSiDpQQ&libraries=visualization"></script>
    <script src="https://kit.fontawesome.com/785bf1384d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
